<!-- ******HEADER****** -->
<header class="header">
  <div class="container">
    <img class="profile-image img-responsive pull-left" src="assets/images/profile.png" alt="{{name}}" />
    <div class="profile-content pull-left">
      <h1 class="name">{{name}}</h1>
      <h2 class="desc">{{title}}</h2>
      <ul class="social list-inline">
        <li><a href="https://www.linkedin.com/in/gabriel-sturtevant-751b8797" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://github.com/GabrielSturtevant" target="_blank"><i class="fa fa-github-alt"></i></a></li>
      </ul>
    </div><!--//profile-->
    <a class="btn btn-cta-primary pull-right" href="mailto:sturtevant.gabriel@gmail.com" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>
  </div><!--//container-->
</header><!--//header-->
