<section class="experience section">
  <div class="section-inner">
    <h2 class="heading">Work Experience</h2>
    <div class="content">
      <div class="item" *ngFor="let job of jobs">
        <h3 class="title">{{job.title}} - <span class="place"><a href="{{job.website}}" target=blank>{{job.company_name}}</a></span>
          <span class="year"> ({{job.date_range}})</span></h3>
        <li *ngFor="let description of job.descriptions">{{description.description}}</li>
      </div><!--//item-->
    </div><!--//content-->
  </div><!--//section-inner-->
</section><!--//section-->
