<aside class="list conferences aside section">
  <div class="section-inner">
    <h2 class="heading">Conferences</h2>
    <div class="content">
      <ul class="list-unstyled">
        <li><i class="fa fa-calendar"></i> <a href="https://www.socallinuxexpo.org/scale/14x" target="_blank">SCaLE 14X
          2016</a> (Pasadena)
        </li>
        <li><i class="fa fa-calendar"></i> <a href="https://www.socallinuxexpo.org/scale/15x" target="_blank">SCaLE 15X
          2017</a> (Pasadena)
        </li>
        <li><i class="fa fa-calendar"></i> <a href="https://www.socallinuxexpo.org/scale/16x" target="_blank">SCaLE 16X
          2018</a> (Pasadena)
        </li>
        <li><i class="fa fa-calendar"></i> <a href="https://www.socallinuxexpo.org/scale/17x" target="_blank">SCaLE 17X
          2019</a> (Pasadena)
        </li>
      </ul>
    </div><!--//content-->
  </div><!--//section-inner-->
</aside><!--//section-->
