<aside class="list music aside section">
  <div class="section-inner">
    <h2 class="heading">Favorite coding music</h2>
    <div class="content">
      <ul class="list-unstyled">
        <li><i class="fa fa-headphones"></i> <a href="https://youtu.be/V1bFr2SWP1I" target="_blank">Somewhere Over the
          Rainbow</a></li>
        <li><i class="fa fa-headphones"></i> <a href="https://youtu.be/rHkTjLRW_X0" target="_blank">Anna Netrebko</a>
        </li>
        <li><i class="fa fa-headphones"></i> <a href="https://youtu.be/j3YdRHocF4w" target="_blank">Bach: Cello Concerto
          in A Minor</a></li>
      </ul>
    </div><!--//content-->
  </div><!--//section-inner-->
</aside><!--//section-->
