<aside class="education aside section">
  <div class="section-inner">
    <h2 class="heading">Education</h2>
    <div class="content">
      <div class="item">
        <h3 class="title"><i class="fa fa-graduation-cap"></i> BS Computer Science</h3>
        <h4><a class="university" href="http://www.csun.edu/engineering-computer-science/computer-science" target="_blank">California State University, Northridge</a></h4>
      </div><!--//item-->
      <div class="item">
        <h3 class="title"><i class="fa fa-graduation-cap"></i> AA Mathematics</h3>
        <h4><a class="university" href="https://www.avc.edu/sites/default/files/studentservices/counseling/programsheets/Liberal%20Arts%20and%20Sciences%2015-16.pdf" target="_blank">Antelope Valley College</a></h4>
      </div><!--//item-->
      <div class="item">
        <h3 class="title"><i class="fa fa-graduation-cap"></i> AS Computer Software Development</h3>
        <h4><a class="university" href="https://www.avc.edu/academics/cte/computers" target="_blank">Antelope Valley College</a></h4>
      </div><!--//item-->
    </div><!--//content-->
  </div><!--//section-inner-->
</aside><!--//section-->
