<aside class="skills aside section">
  <div class="section-inner">
    <h2 class="heading">Skills</h2>
    <div class="content">
      <p class="intro">
        My skill set focuses on backend/operating system development, I also have experience integrating my projects into the mobile environment</p>

      <div class="skillset">

        <div class="item">
          <h3 class="level-title">Java<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I am very proficient in Java">Expert</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="90%">
            </div>
          </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
          <h3 class="level-title">Python<span class="level-label"data-toggle="tooltip" data-placement="left" data-animation="true" title="I am very proficient in Python">Expert</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="90%">
            </div>
          </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
          <h3 class="level-title">Linux/Unix<span class="level-label"data-toggle="tooltip" data-placement="left" data-animation="true" title="Linux is my passion">Expert</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="85%">
            </div>
          </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
          <h3 class="level-title">C<span class="level-label"data-toggle="tooltip" data-placement="left" data-animation="true" title="I am great with C">Pro</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="78%">
            </div>
          </div><!--//level-bar-->
        </div><!--//item-->
        <div class="item">
          <h3 class="level-title">Google-Fu<span class="level-label"data-toggle="tooltip" data-placement="left" data-animation="true" title="I am great with Google">Expert</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="97%">
            </div>
          </div><!--//level-bar-->
        </div><!--//item-->
        <p><a class="more-link" href="https://www.linkedin.com/in/gabriel-sturtevant-751b8797" target="_blank"><i class="fa fa-external-link"></i> More on Linkedin</a></p>
      </div>
    </div><!--//content-->
  </div><!--//section-inner-->
</aside><!--//section-->
