<aside class="testimonials aside section">
  <div class="section-inner">
    <h2 class="heading">Testimonials</h2>
    <div class="content">
      <div class="item">
        <blockquote class="quote">
          <p><i class="fa fa-quote-left"></i>Gabriel is a great problem solver and he has a natural ability with a
            willingness and eagerness to learn. In addition to his great problem solving ability and strong command of
            computer science!</p>
        </blockquote>
        <p class="source"><span class="name">Donavon Rosas</span><br/><span class="title">CSUN Peer</span></p>
      </div><!--//item-->

    </div><!--//content-->
  </div><!--//section-inner-->
</aside><!--//section-->
