<aside class="testimonials aside section">
  <div class="section-inner">
    <h2 class="heading">Testimonials</h2>
    <div class="content">
      <div class="item" *ngFor="let recommendation of recommendations">
        <blockquote class="quote">
          <p *ngFor="let item of recommendation.descriptions; first as isFirst"><i class="fa fa-quote-left" *ngIf="isFirst"></i>{{item.description}}</p>
        </blockquote>
        <p class="source"><span class="name">{{recommendation.author}}</span><br/><span class="title">{{recommendation.organization}} - {{recommendation.relation}}</span></p>
      </div><!--//item-->

    </div><!--//content-->
  </div><!--//section-inner-->
</aside><!--//section-->
